/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


@media screen and (max-width: 996px) {
  .hero-banner {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: auto;
  flex-wrap: wrap;
  padding: 50px 20px;
}
